<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./style.css">
    <script src="server.js" defer></script>
    <title>NASA API</title>
</head>

<body>
    <h1 id="titulo-main">Imagem do dia API - NASA</h1>
    {{{body}}}
</body>

</html>