<div id="top-container">

</div>
<main>
    <div class="container" id="container-anime">
        <h1 id="titulo">
            Pesquise um anime:
        </h1>
        <form id="area-pesquisa" class="form-inline" action="/busca" method="GET" >
            <div id="container-pesquisa">
                <input type="text" id="anime" class="input-anime-nome" name= "anime" action="/busca" placeholder="Digite o nome do anime aqui">
            </div>
            <div class="botao-submit">
                <button type="submit" class="btn">Procurar</button>
            </div>
        </form>
    </div>
</main>