<div id="conteudo">

    {{#if img_info}}
    <div id="img-container">
        <img src="{{img_info.url}}" alt="" id="imagem">
    </div>
    <div id="texto-container">
        <p id="data">{{img_info.date}}</p>
        <p id="descricao">{{img_info.descricao}}</p>
    </div>
    {{/if}}

</div>